<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link type="text/css" href="./static/app/content/styles.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" type="text/css"
    href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css"> -->
    <link href="./static/app/content/sp-bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css"
    href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" sizes="32x32" href="./static/app/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./static/app/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./static/app/images/favicon-16x16.png">
    <title>MezcladorMe</title>
    <!-- Custom styles for this template -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
  <body >
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
        <a href="#" class="pull-left"><img src="./static/app/images/name_logo.png"></a>
          <div class="navbar-brand">
            <span class="navbar-logo">Spotify</span>
          </div>
        </div>
        <div class="navbar-collapse collapse">
          <a href="http://www.spotify.com" class="btn btn-primary navbar-btn navbar-right">Get
          Spotify</a>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
      <div id='intro'>
      <div id='main' class="top worker jumbotron jumbotron-hero container-fluid">
          <div  id="jumbo-dialog">
            <h1 id='ttitle' >Mix Your Playlists!</h1>
            <p id='ttext'>
                Mix your Spotify playlists to arrange the songs so more similar songs are back to back. Song similarity is specially determined
                by a wide range of musical attributes such as tempo, loudness, 
                valence, energy, and danceability.
            </p>
            <p>  Login with your Spotify account to get started</p>
            <p><a class="btn btn-primary btn-lg" id='go' role="button">Login with Spotify</a></p>
          </div>
      </div>

        <div class="container worker ">
          <div class="row features">
             <div class="col-md-offset-2 col-md-8">
                    <h2 class="text-center">Get your playlists in order</h2>
                    <p>
                    With <b> Mix Your Playlists </b> you can easily order the songs
                    in any of your playlists by song similarity. Simply:
                    </p>
                    <ol>
                        <li> <b> Login </b> with your Spotify credentials 
                        <li> <b> Pick </b> your playlist
                        <li> Click the <b> Mix </b> button.
                        <li>  <b> Save </b> the sorted playlist to Spotify coming soon!
                    </ol>

                    <h2 class="text-center">Tap into the power of The Echo Nest</h2>
                    <p>
                    <b> Mezclador </b> analyzes your playlist
                    based on a number of Echo Nest song attributes including:
                    </p>

                    <ol>
                        <li> <b> Beats Per Minute (BPM)</b> - The tempo of the
                        song.
                        <li> <b> Energy</b> - The energy of a song - the higher
                        the value, the more energtic.
                        song
                        <li> <b> Danceability</b> - The higher the value, the
                        easier it is to dance to this song.
                        <li> <b> Loudness </b> - The higher the value, the
                        louder the song.
                        <li> <b> Valence </b> - The higher the value, the
                        more positive mood for the song.
                        <li> <b> Length </b> - The duration of the song.
                        <li> <b> Acoustic </b> - The higher the value the more
                        acoustic the song is.
                    </ol>

                    <!-- <h2 class="text-center">FAQ</h2> -->
                    <!-- <p> -->
                        <!-- Here are some answers to questions about <b> Sort Your
                        Music </b>
                    </p>
                    <ol>
                        <li> <b> How was this built? </b> This was created using
                        the <a
                        href="http://developer.spotify.com">Spotify</a> API.

                        <li> <b> Where can I learn more about the Echo Nest song
                        attributes?</b> See <a
                        href="http://developer.echonest.com/acoustic-attributes.html">
                        Acoustic Attributes Overview </a>
                        <li> <b> Can you add more attributes to the app?  </b>
                        Yes, but it is a tradeoff between display space,
                        complexity and utility. Let me know which attributes
                        you'd like to see.
                        <li> <b> Any more features planned?</b> - Yes, I'd like
                        to add a few more features such as:
                            <ul>
                                <li> Duplicate track removal
                                <li> Manual reordering, addition, and deletion.
                            </ul>
                        If you have any ideas for new feature, let me know.
                        <li> <b> Is the source available</b> - Yes, you can find
                        it on <a href="https://github.com/plamere/SortYourMusic">github</a>
                        <li> <b> Does Sort Your Music overwrite my playlist when
                            I save?</b> - 
                            No, it creates a copy of the playlist. The new
                            playlist is called 'Old playlist name sorted by
                            increasing X', where X is what you sorted the
                            playlist on. Note that an older version of the app
                            did overwrite your playlists, but some folks didn't
                            like that.
                    </ol> -->
              </div> 
          </div>
        </div>

      <div class="top jumbotron container-fluid">
          <p id='info' class="text-center"></p>

          <div class="worker" id='playlists'> 
                <h2 class="prompt" > Pick a playlist: </h2>
                <img class='spinner' width='100' alt='spinner' src='./static/app/images/ajaxSpinner.gif'>

                <div class="panel panel-default">
                    <table id='playlist-list' class="table">
                        <thead>
                            <tr>
                            <th>Name</th>
                            <th>Track Count</th>
                            <th>Owner</th>
                            </tr>
                        </thead>
                        <tbody> </tbody>
                    </table>
                </div>
          </div>

          <div class="worker" id='single-playlist'> 
                <h2> <a id='playlist-title'></a> </h2>
                <img class='spinner2' width='100' alt='spinner' src='./static/app/images/ajaxSpinner.gif'>
                <div id='single-playlist-contents'>

                    <div class="panel panel-default">
                        <div class="panel-body">

                            <div class='btn-group pull-right'>
                              <button id='save' type='button' class='btn btn-primary btn-sm has-spinner'><i class="fa fa-spinner fa-spin"></i> Save New Playlist</button>
                              <button id='saveDropdown' type='button' class='btn btn-primary btn-sm dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                                <span class='caret'></span>
                                <span class='sr-only'>Toggle Dropdown</span>
                              </button>
                              <ul class='dropdown-menu'>
                                <li><a id='dropSave' href='#'>Save New Playlist</a></li>
                                <li><a id='dropOverwrite' href='#'>Overwrite Playlist</a></li>
                              </ul>
                            </div>

                            <a class="btn btn-primary btn-sm pull-left" id='pick'
                                role="button">back</a>
                            <a class="btn btn-primary btn-sm pull-left" id='mix' role="button">Mix</a>
                        </div>
                    </div>

                    <table id='song-table' class="hover table table-condensed table-bordered table-striped">  
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> Title </th>
                                <th> Artist </th>
                                <th> BPM </th>
                                <th> Energy </th>
                                <th> Dance </th>
                                <th> Loud </th>
                                <th> Valence </th>
                                <th> Length </th>
                                <th> Acoustic </th>
                            </tr>
                        </thead>
                        <tbody> </tbody>
                        <tfoot> </tfoot>
                    </table>
                </div>
          </div>
        </div>
    </div>

    <div id="footer">
      <div class="container text-center">
            <p class="text-muted">
                Powered by <a href="http://spotify.com">Spotify</a>
                Created by <a href="http://twitter.com/plamere">@plamere</a>
                with contributions by <a href="http://twitter.com/sonneveld">@sonneveld</a>.
                This file is protected by the GPL. View the license <a href="https://www.gnu.org/licenses/gpl.txt">here</a>, and the source repo <a href="https://github.com/valbooth28/MezcladorMe">here</a>.
            </p>
      </div>
    </div>
    <script src="./static/app/scripts/jquery-1.11.3.js"></script>
    <script type="text/javascript" charset="utf-8"
        src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf-8"
        src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
    <!-- Deprecated: Replacement is the datetime plug-in (http://datatables.net/blog/2014-12-18) -->
    <script type="text/javascript" charset="utf-8"
        src="//cdn.datatables.net/plug-ins/1.10.7/sorting/time.js"></script>
    <script src="./static/app/scripts/bootstrap.min.js"></script>
    <script src="./static/app/scripts/underscore-min.js"></script>
    <script type="text/javascript" charset="utf-8"
        src="//cdnjs.cloudflare.com/ajax/libs/q.js/1.4.1/q.min.js"></script>
    <script src="./static/app/scripts/config.js"></script>
    <script src ="./static/app/scripts/mezcla.js"></script>
    <script src ="./static/app/scripts/mezclador.js"></script>

</body>
</html>